{% extends "finance/base.html" %}

{% block content %}
<div class="max-w-md mx-auto bg-white p-8 rounded-lg shadow-lg">
    <h2 class="text-3xl font-semibold text-center text-gray-700 mb-6">Iniciar sesión</h2>
    <form method="post">
        {% csrf_token %}
        <div class="space-y-4">
            <div class="w-full">
                <label for="username" class="block text-gray-700">Nombre de usuario</label>
                <input type="text" name="username" id="username" class="w-full border border-gray-300 p-2 rounded-lg focus:outline-none focus:ring-2 focus:ring-[#abebc6]" placeholder="Ingresa tu nombre de usuario">
            </div>
            <div class="w-full">
                <label for="password" class="block text-gray-700">Contraseña</label>
                <input type="password" name="password" id="password" class="w-full border border-gray-300 p-2 rounded-lg focus:outline-none focus:ring-2 focus:ring-[#abebc6]" placeholder="Ingresa tu contraseña">
            </div>
        </div>
        <button type="submit" class="w-full bg-[#abebc6] text-white py-2 rounded-lg hover:bg-[#9ae4b6] focus:outline-none focus:ring-2 focus:ring-[#abebc6] mt-4">
            Iniciar sesión
        </button>
    </form>
    <p class="mt-4 text-center text-gray-600">¿No tienes una cuenta? 
        <a href="{% url 'register' %}" class="text-[#abebc6] hover:underline">Regístrate aquí</a>
    </p>
</div>
{% endblock %}
