{% extends "finance/base.html" %}

{% block content %}
<div class="container">
    <h2>Profile</h2>


    <h3>Presupuesto Total</h3>
    <p>{{ user_budget.total_amount|floatformat:2 }}</p>  


    <h3>Saldo Actual</h3>
    <p>{{ user_budget.current_balance|floatformat:2 }}</p>  


    <h3>Ingresos</h3>
    <ul>
        {% for source in income_sources %}
            <li>{{ source.name }}</li>  
        {% endfor %}
    </ul>


    <h3>Gastos Básicos (50%)</h3>
    <p>Disponible: {{ available_for_basic_expenses|floatformat:2 }}</p>  
    <ul>
        {% for expense in basic_expenses %}
            <li>{{ expense.name }}</li>  
        {% endfor %}
    </ul>


    <h3>Deseos (30%)</h3>
    <p>Disponible: {{ available_for_wish_expenses|floatformat:2 }}</p>  
    <ul>
        {% for wish in wish_expenses %}
            <li>{{ wish.name }}</li>  
        {% endfor %}
    </ul>

    
    <h3>Ahorros e Inversiones (20%)</h3>
    <p>Disponible: {{ available_for_savings|floatformat:2 }}</p>  
    <ul>
        {% for saving in savings_investments %}
            <li>{{ saving.name }}</li>  
        {% endfor %}
    </ul>
</div>

<a href="{% url 'add_income' %}">Agregar Ingreso</a>
<a href="{% url 'add_expense' %}">Agregar Gasto</a>
<a class="nav-link" href="{% url 'transaction_list' %}">Historial de Transacciones</a>

{% endblock %}
