{% extends "finance/base.html" %}

{% block content %}
<div class="container py-5">
    <h2 class="text-center text-2xl font-semibold text-gray-800 mb-6">¡Bienvenido/a, {{ user.username }}!</h2>
    <h2 class="text-center text-2xl font-semibold text-gray-800 mb-6">Mis Finanzas</h2>

   <!-- Cuadro Presupuesto Total -->
<div class="bg-white shadow-lg rounded-lg p-6 mb-6">
    <div class="flex justify-between items-center">
        <div>
            <h4 class="text-lg font-bold text-gray-800">Presupuesto Total</h4>
            <p class="text-2xl font-semibold text-primary">${{ user_budget.total_amount|floatformat:2 }}</p>
        </div>
        <div class="flex space-x-2">
            <!-- Botón para editar el presupuesto -->
            <a href="{% url 'budget_list' %}" class="bg-[#4b7f8c] text-white px-4 py-2 rounded-lg hover:bg-[#355f6c] transition duration-300">
                Editar Presupuesto
            </a>
            <!-- Botón para crear un nuevo presupuesto -->
            <a href="{% url 'create_budget' %}" class="bg-[#abebc6] text-gray-800 px-4 py-2 rounded-lg hover:bg-green-600 transition duration-300">
                Crear Nuevo Presupuesto
            </a>
        </div>
    </div>
</div>

    <!-- Cuadro Saldo Actual -->
    <div class="bg-white shadow-lg rounded-lg p-6 mb-6">
        <h4 class="text-lg font-bold text-gray-800">Saldo Actual</h4>
        <p class="text-2xl font-semibold {% if is_balance_low %}text-red-500{% else %}text-green-500{% endif %}">
            ${{ user_budget.current_balance|floatformat:2 }}
        </p>
        {% if is_balance_low %}
        <div class="mt-3 text-yellow-600">
            <i class="bi bi-exclamation-triangle"></i> Tu saldo está por debajo del 20% del presupuesto total.
        </div>
        {% endif %}
    </div>

    <!-- Cuadro Recordatorios -->
    <div class="bg-white shadow-lg rounded-lg p-6 mb-6">
        <h4 class="text-lg font-bold text-gray-800">Recordatorios</h4>
        {% if reminders %}
            <form method="POST" action="{% url 'mark_reminder_paid' %}">
                {% csrf_token %}
                <ul class="space-y-4">
                    {% for reminder in reminders %}
                    <li class="flex justify-between items-center">
                        <label class="flex items-center">
                            <input type="checkbox" name="reminders" value="{{ reminder.id }}" {% if reminder.is_paid %}checked{% endif %} class="form-checkbox h-5 w-5 text-blue-500 mr-3">
                            <span class="text-gray-700 text-lg">
                                {{ reminder.name }} - {{ reminder.date|date:"d/m/Y" }}: <strong>${{ reminder.amount|floatformat:2 }}</strong>
                            </span>
                        </label>
                    </li>
                    {% endfor %}
                </ul>
                <button type="submit" class="bg-[#abebc6] text-[#2c6d5b] py-2 px-6 mt-4 rounded-md hover:bg-[#9de6a1] transition-all">
                    Marcar como Pagado
                </button>
            </form>
        {% else %}
        <p class="text-gray-600">No hay recordatorios pendientes.</p>
        {% endif %}
        <div class="mt-4 flex justify-between">
            <a href="{% url 'reminder_list' %}" class="bg-gray-800 text-white px-6 py-3 rounded-lg hover:bg-gray-700">Ver todos</a>
            <a href="{% url 'create_reminder' %}" class="bg-[#abebc6] text-gray-800 px-6 py-3 rounded-lg hover:bg-green-600">Crear Nuevo</a>
        </div>
    </div>

    <!-- Cuadro Ingresos -->
    <div class="bg-white shadow-lg rounded-lg p-6 mb-6">
        <h3 class="text-lg font-bold text-gray-800">Ingresos</h3>
        <ul>
            {% for source in income_sources %}
                <li>{{ source.name }} {{ source.amount|floatformat:2 }}</li>
            {% endfor %}
        </ul>
    </div>

    <!-- Cuadro Gastos Básicos -->
    <div class="bg-white shadow-lg rounded-lg p-6 mb-6">
        <h4 class="text-lg font-bold text-gray-800">Gastos Básicos (50%)</h4>
        <p class="text-gray-700"><strong>Disponible:</strong> ${{ available_for_basic_expenses|floatformat:2 }}</p>
        <p class="text-gray-700"><strong>Gastado:</strong> ${{ spent_on_basic|floatformat:2 }} ({{ percentage_basic|floatformat:0 }}%)</p>

    <!-- Barra de Progreso para Gastos Básicos -->
    <div class="relative pt-1">
        <div class="flex mb-2 items-center justify-between">
            <span class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-teal-600 bg-teal-200">
                Progreso
            </span>
            <span class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-teal-600 bg-teal-200">
                {{ percentage_basic|floatformat:0 }}%
            </span>
        </div>
        <div class="mb-2">
            <div class="flex mb-2">
                <div class="w-full bg-gray-200 rounded-full h-2.5">
                    <div class="bg-[#abebc6] h-2.5 rounded-full" style="width: {{ percentage_basic|floatformat:0 }}%; max-width: 100%;"></div>
                </div>
            </div>
        </div>
    </div>

        {% if exceeded_basic %}
        <div class="mt-3 bg-yellow-100 p-3 text-yellow-600 rounded-lg">
            <i class="bi bi-exclamation-triangle"></i> Has excedido el presupuesto del 50% para gastos básicos.
        </div>
        {% endif %}
    </div>

    <!-- Cuadro Deseos -->
    <div class="bg-white shadow-lg rounded-lg p-6 mb-6">
        <h4 class="text-lg font-bold text-gray-800">Deseos (30%)</h4>
        <p class="text-gray-700"><strong>Disponible:</strong> ${{ available_for_wish_expenses|floatformat:2 }}</p>
        <p class="text-gray-700"><strong>Gastado:</strong> ${{ spent_on_wish|floatformat:2 }} ({{ percentage_wish|floatformat:0 }}%)</p>

    <!-- Barra de Progreso para Deseos -->
    <div class="relative pt-1">
        <div class="flex mb-2 items-center justify-between">
            <span class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-teal-600 bg-teal-200">
                Progreso
            </span>
            <span class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-teal-600 bg-teal-200">
                {{ percentage_wish|floatformat:0 }}%
            </span>
        </div>
        <div class="mb-2">
            <div class="flex mb-2">
                <div class="w-full bg-gray-200 rounded-full h-2.5">
                    <div class="bg-[#abebc6] h-2.5 rounded-full" style="width: {{ percentage_wish|floatformat:0 }}%; max-width: 100%;"></div>
                </div>
            </div>
        </div>
    </div>

        {% if exceeded_wish %}
        <div class="mt-3 bg-yellow-100 p-3 text-yellow-600 rounded-lg">
            <i class="bi bi-exclamation-triangle"></i> Has excedido el presupuesto del 30% para deseos.
        </div>
        {% endif %}
    </div>

    <!-- Cuadro Ahorros e Inversiones -->
    <div class="bg-white shadow-lg rounded-lg p-6 mb-6">
        <h3 class="text-lg font-bold text-gray-800">Ahorros e Inversiones (20%)</h3>
        <p class="text-gray-700"><strong>Disponible:</strong> ${{ available_for_savings_investments|floatformat:2 }}</p>
        <p class="text-gray-700"><strong>Gastado:</strong> ${{ spent_on_savings|floatformat:2 }} ({{ percentage_savings|floatformat:0 }}%)</p>
        

    <!-- Barra de Progreso para Ahorros -->
    <div class="relative pt-1">
        <div class="flex mb-2 items-center justify-between">
            <span class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-teal-600 bg-teal-200">
                Progreso
            </span>
            <span class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-teal-600 bg-teal-200">
                {{ percentage_savings|floatformat:0 }}%
            </span>
        </div>
        <div class="mb-2">
            <div class="flex mb-2">
                <div class="w-full bg-gray-200 rounded-full h-2.5">
                    <div class="bg-[#abebc6] h-2.5 rounded-full" style="width: {{ percentage_savings|floatformat:0 }}%; max-width: 100%;"></div>
                </div>
            </div>
        </div>
    </div>

        {% if percentage_savings >= 100 %}
        <div class="mt-3 bg-green-100 p-3 text-green-600 rounded-lg">
            <i class="bi bi-check-circle"></i> ¡Felicidades por completar tu meta de ahorro!
        </div>
        {% endif %}
    </div>

    <!-- Botones de Acción -->
    <div class="mt-5 flex justify-between">
        <a href="{% url 'add_income' %}" class="bg-gray-800 text-white px-6 py-3 rounded-lg hover:bg-gray-700">Agregar Ingreso</a>
        <a href="{% url 'add_expense' %}" class="bg-red-600 text-white px-6 py-3 rounded-lg hover:bg-red-700">Agregar Gasto</a>
        <a href="{% url 'add_savings' %}" class="bg-[#4b7f8c] text-white px-6 py-3 rounded-lg hover:bg-[#355f6c]">Agregar Ahorro</a>
        <a href="{% url 'transaction_list' %}" class="bg-blue-600 text-white px-6 py-3 rounded-lg hover:bg-blue-700">Ver Transacciones</a>
    </div>
</div>
{% endblock %}
